body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #222; */
}

.btn {
  color: tomato;
  background: none;
  border: 3px solid tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  padding: 24px 48px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: tomato;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 0.5s;
}

.btn:hover {
  color: #fff;
}

.btn:hover:before {
  height: 190%;
}
