body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 24px;
  color: #e1332d;
  border: 3px solid #e1332d;
  padding: 24px 48px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: all 0.5s;
}

a:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid #e1332d;
}
