.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box {
  font-size: 18px;
  background-color: blue;
  height: 8rem;
  width: 8rem;
  border: none;
  color: #fff;
  font-weight: bold;
}

#translate {
  transition: transform 2s;
}

#translate:hover {
  /* we can pass taranslate value in x or in y axis either positive and negative */
  /* transform: translateX(500px) translateY(200px); */
  /* or we can use shorthand for this by translate(value of x value of y) */
  transform: translate(500px, 200px);
}

#scale {
  transition: transform 2s;
}

#scale:hover {
  /* 
  we can increase and decreas height and width by scale 
  number greater than 1 is to increase the height or width 
  number less than 1 is to decrease the height or width 

  scale x for width 
  scale y for heigth
   */
  /* transform: scaleY(1.5) scaleX(1.5); */
  /* or we can use shorthand */
  /* transform: scale(1.5, 1.5); */
  /* or */
  transform: scale(1.5);
}
